@import url('/public_html/css/genericons.css');

@font-face {
    font-family: 'Genericons';
    src: url('/public_html/css/genericons/genericons-regular-webfont.eot');
    src: url('/public_html/css/genericons/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public_html/css/genericons/genericons-regular-webfont.woff') format('woff'),
         url('/public_html/css/genericons/genericons-regular-webfont.ttf') format('truetype'),
         url('/public_html/css/genericons/genericons-regular-webfont.svg#genericonsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
background-color: rgb(81,45,109);
font-family: Calibri, Arial, sans-serif;
}



.mainContent,
.header{
margin: auto;
margin-top: 40px;
padding: 20px;
max-width: 80%;
background-color: white;
}


.row{
margin: 20px;
}

.label{
min-width: 200px;
margin-right: 15px;
display: inline-flex;
}

span label {
margin-right: 55px;
}

input{
width: 340px;
}

select{
width: 350px;
}


select,
input {
margin-right: 30px;
padding: 5px;
}

select#day {
width: 70px;
}

select#month {
width: 120px;
}

select#year {
width: 100px;
}

input[type="radio"] {
margin: 0 8px;
width: initial;
}

input#submitButton{
width:300px;
padding: 10px;
}

span.chapter,
span.verse{
margin-right: 10px;
}

span#bible_ch_start > input,
span#bible_ch_end > input,
span#bible_verse_start > input,
span#bible_verse_end > input{
width: 45px;
}

/* SERMON LISTING PAGE */
div#sermonsIntro {
width: 100%;
max-width: 100%;
}

div#bible_gateway_table {
width: 40%;
max-width: 100%;
float: left;
}

#filter{
    width: 100%;
}

#filterBox select {
max-width: 30%;
margin: 1.5%;
}

table, tbody{
    width: 100%;
    max-width: 100%;
}

.sermonRecord{
border-top: 1px solid #eeeeed;
width: 100%;
max-width: 700px;
padding: 35px 5px;
}

.sermonRecord span{
padding: 5px;
}

.sermonRecord .date,
.sermonRecord span.time,
.sermonRecord span.bible_book,
.sermonRecord span.ref{
font-size: 0.8em;
}

.sermonRecord span.title {
font-weight: bold;
display: block;
font-size: 1.4em;
color: darkslategrey;
font-family: serif;
}

.sermonRecord span.series {
display: block;
font-style: italic; 
}

.sermonRecord span.mp3-icon > a{
    font-family: 'Genericons';
    content: '\f109';
    font-size: 40px;
    height: 40px;
    width: 100%;
    max-width: 40px;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sermonRecord span.mp3{
    width: 0;
    height: 0;
    font-size: 0;
}

.sermonRecord span.preacher {
display: block;
}

.hidden{
display: none;
}
