body {
background-color: rgb(81,45,109);
font-family: Calibri, Arial, sans-serif;
}


.mainContent{
margin: auto;
margin-top: 40px;
padding: 20px;
max-width: 80%;
background-color: white;
}


.row{
margin: 20px;
}

.label{
min-width: 200px;
margin-right: 15px;
display: inline-flex;
}

span label {
margin-right: 55px;
}

input{
width: 340px;
}

select{
width: 350px;
}


select,
input {
margin-right: 30px;
padding: 5px;
}

select#day {
width: 70px;
}

select#month {
width: 120px;
}

select#year {
width: 100px;
}

input[type="radio"] {
margin: 0 8px;
width: initial;
}

input#submitButton{
width:300px;
padding: 10px;
}

span.chapter,
span.verse{
margin-right: 10px;
}

span#bible_ch_start > input,
span#bible_ch_end > input,
span#bible_verse_start > input,
span#bible_verse_end > input{
width: 45px;
}

/* SERMON LISTING PAGE */
div#sermonsIntro {
width: 100%;
max-width: 100%;
}

div#bible_gateway_table {
width: 40%;
max-width: 100%;
float: left;
}

#filter{
    width: 100%;
}

#filterBox select {
max-width: 30%;
margin: 1.5%;
}

.sermonRecord{
border: 1px solid black;
width: 300px;
max-width: 100%;
}

.sermonRecord span{
padding: 5px;
}

.sermonRecord .date {
float: bottom;
}

.sermonRecord span.time {

}

.sermonRecord span.title {
font-weight: bold;
display: block;
}

.sermonRecord span.series {
display: block;
}

.sermonRecord span.book{
clear: left;    
}

.sermonRecord span.ref {

}

.sermonRecord span.mp3{
    
}

.sermonRecord span.preacher {
display: block;
}

.hidden{
display: none;
}
